.Legacy/Forge.Persistence.StorageProviders.HibernateStorageProvider/hspsection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="urn:hspsection" xmlns="urn:hspsection"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:NS="hspsection">

  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PropertyItems" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="entryName" type="xs:string" use="optional" />
      <xs:attribute name="entryValue" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PropertyItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="add" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CategoryPropertyItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="add" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="HSPSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CategoryPropertyItems" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
